.App {
  font-family: sans-serif;
  text-align: center;
}
.FloorPlan {
  height: 80%;
  width: 80%;
  display: grid;
}
.BedRoom {
  background-color: #2f7087;
}
.LivingRoom {
  background-color: #c8aa80;
}
.Bath {
  background-color: #718734;
}
.Kitchen {
  background-color: #f1a53e;
}
.Oven {
  background-color: #ca481c;
}
.Sink {
  background-color: #895016;
}
